body {
  -webkit-user-select: none;
}

.hidden {
  display: none;
}

#novo_estado {
  float: right;
  overflow: auto;
}

table {
  width: 100%;
}

table {
  border: 1px solid #999;
  border-collapse: collapse;
}

table tr {
  border: 1px solid #999;
}

table td {
  border: 1px solid #999;
}

table tr:hover td {
  background-color: #e6e6e6;
}
